
<!DOCTYPE html>
<html lang="en" ng-app="game">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
	</head>
	<body ng-controller="mainCtrl">
		<audio id="coinAudio">
			<source src="audios/bell.mp3" type="audio/mpeg">
		</audio>

		<audio id="failAudio">
			<source src="audios/failure.mp3" type="audio/mpeg">
		</audio>

		<div class="container">
			<div class="row">
				<div class="col-md-6 left-right">
					<div class="game-contents" style="background:none; padding-left:10px;">
						<button class="btn btn-primary" id="startBtn">Start</button>
					</div>
					<div class="game-contents">Score : {{ score }}</div>
					<div class="game-contents">High Score : <span>{{ highScore }}<span></div>
					<div class="game-contents">Time left : {{ timeLeft }}</div>
					<div class="game-contents">
						Difficulty Level :
						<select ng-options="item for item in levels" ng-model="level" ng-change="changeGrids()"></select>
					</div>
				</div>

				<div class="col-md-6 grid-main left-right">
					<div class="grid-type">{{ level }}</div>
				  <div class="grid-container">
				    <div class="grid-item" id="grid-{{ idx }}" ng-class="{'green': !i.grey}" ng-repeat="(idx, i) in rowColArray"></div>
				  </div>
				</div>
			</div>
		</div>

			<script src="bower_components/jquery/dist/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
			<script src="bower_components/angular/angular.min.js"></script>
      <script src="app.js"></script>
	</body>
</html>
