
html, body {;
  background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url("images/snow.gif");
  background-size:cover;
}

body .ng-enter{
    transition: 0.5s;
    opacity: 0;
}
body .ng-enter-active {
    opacity: 1;
}

.grid-main {
  width: 300px;
  height: 300px;
  margin: 1% auto;
}

.grid-type {
  font-size:24px;
  text-align:center;
  width:300px;
  margin-top:10%;
  font-weight:600;
}

.grid-container {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 0px;
  padding: 0px;
}
.grid-item {
  background-color: #ddd;
  text-align: center;
  border: 1px solid #888;
  color: #ddd;
  display: block;
  cursor: pointer;
  border-radius: 5px;
}

.game-metrics {
  margin: 50px 10% 30px;
}

.game-contents {
  font-size: 20px;
  padding: 10px 25px;
  margin: 30px 0;
  width: fit-content;
  background: #23a6f7;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
}

 .game-contents .btn-primary {
   color: #fff;
   font-weight: 700;
 }

.left-right {
  margin-top: 5%;
}

.green {
  background-color: green !important;
}
